* {
  margin: 0;
  padding: 0;
}

.calculator {
  display: flex;
  margin: 20px;
  gap: 20px;
  width: 300px;
  height: 500px;
  border: 2px solid black;
}

#display {
  margin: 10px;
  width: 400px;
  height: 50px;
}
.btn-container {
  margin: 10px;
}

button {
  margin: 5px;
  width: 20px;
  height: 20px;
}